{% extends 'base.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ verbose_name_plural_value }}{% endblock %} {% load crispy_forms_tags %} {% block content%} {% if request.user.is_authenticated %}

     
  
    <!-- Page Content -->
    <div class="p-3">
        <div class="row">
            <div class="col mx-2">
              <a class="nav-link" href="{% url 'add_object' app_label_value model_name_value %}"><b>Add</b></a>
            </div>
            <div class="col mx-2">
              <a class="nav-link" href="{% url 'export_csv' app_label=app_label_value model_name=model_name_value %}"><b>Export as CSV</b></a>
            </div>
            <div class="col ml-3">
              <a class="nav-link" href="{% url 'import_csv' app_label=app_label_value model_name=model_name_value %}"><b>Import from CSV</b></a>
            </div>

            <form method="get" action="{% url 'datatable' app_label=app_label_value model_name=model_name_value %}" class="p-3">
              <input  type="text" name="search" value="{{ search_query }}">
              <button class="btn btn-secondary" type="submit">Search</button>
            </form>
          </div>
     
      
   
        <div class="table-outer-div" >
          <table class="table table-bordered table-responsive-sm custom-table">
            <thead>
              <tr>
                <th>Edit</th>
                <th>Delete</th>
                {% for field in model_fields %}
                    {% if field != 'id' %}
                <th>{{ field }}</th>
                 {% endif %}
                {% endfor %}
                
              </tr>
            </thead>
            <tbody>
              {% for object in objects %}
              <tr>
              <td>
                  <a href="{% url 'edit_object' app_label_value model_name_value object.pk %}"><i class="fa fa-edit"></i></a> 
                  </td>
                  <td>
                    <a href="{% url 'delete_object' app_label_value model_name_value object.pk %}"><i class="fa fa-trash"></i></a>
                </td>
                {% for field in model_fields %}
                {% if field != 'id' %}
                <td>{{ object|get_attribute:field }}</td>
                 {% endif %}
                {% endfor %}
                
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
     
    </div>
    <!-- /Page Content -->




{% endif %} {% endblock %} {% block js%} {% endblock js%}