{% extends 'base.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ title }} {% endblock %} {% load crispy_forms_tags %} {% block content%} {% if request.user.is_authenticated %}
<div class="container">
  <h1>{{ verbose_name_plural_value }}</h1>
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right">
      <a class="btn btn-secondary btn-wide mb-3" href="{% url 'add_object' app_label_value model_name_value %}">Add new</a>
      <a class="btn btn-secondary btn-wide mb-3" href="{% url 'export_csv' app_label=app_label_value model_name=model_name_value %}">Export as CSV</a>
      <a class="btn btn-secondary btn-wide mb-3" href="{% url 'import_csv' app_label=app_label_value model_name=model_name_value %}">Import from CSV</a>
    </div>
    <!-- Page Content -->
    <div class="page p-3">
      <form method="get" action="{% url 'datatable' app_label=app_label_value model_name=model_name_value %}">
        <input type="text" name="search" value="{{ search_query }}">
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
      <div class="col-md-12">
        <div class="table-responsive table-outer-div" >
          <table class="table table-bordered table-responsive-sm custom-table">
            <thead>
              <tr>
                {% for field in model_fields %}
                <th>{{ field }}</th>
                {% endfor %}
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for object in objects %}
              <tr>
                {% for field in model_fields %}
                <td>{{ object|get_attribute:field }}</td>
                {% endfor %}
                <td>
                  <a href="{% url 'edit_object' app_label_value model_name_value object.pk %}">Edit</a>
                  <a href="{% url 'delete_object' app_label_value model_name_value object.pk %}">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Page Content -->
  </div>
</div>



{% endif %} {% endblock %} {% block js%} {% endblock js%}