myvenv/
.idea/
.vscode/

db.sqlite3
.DS_Store/
myapp1/__pycache__/
myapp2/__pycache__/
myapp3/__pycache__/
myapp1/migrations/
myapp2/migrations/
myapp3/migrations/
admin/css/autocomplete.css
admin/css/base.css
admin/css/changelists.css
admin/css/dark_mode.css
admin/css/dashboard.css
admin/css/fonts.css
admin/css/forms.css
admin/css/login.css
admin/css/nav_sidebar.css
admin/css/responsive_rtl.css
admin/css/responsive.css
admin/css/rtl.css
admin/css/widgets.css
admin/css/vendor/select2/LICENSE-SELECT2.md
admin/css/vendor/select2/select2.css
admin/css/vendor/select2/select2.min.css
admin/fonts/LICENSE.txt
admin/fonts/README.txt
admin/fonts/Roboto-Bold-webfont.woff
admin/fonts/Roboto-Light-webfont.woff
admin/fonts/Roboto-Regular-webfont.woff
admin/img/calendar-icons.svg
admin/img/icon-addlink.svg
admin/img/icon-alert.svg
admin/img/icon-calendar.svg
admin/img/icon-changelink.svg
admin/img/icon-clock.svg
admin/img/icon-deletelink.svg
admin/img/icon-no.svg
admin/img/icon-unknown-alt.svg
admin/img/icon-unknown.svg
admin/img/icon-viewlink.svg
admin/img/icon-yes.svg
admin/img/inline-delete.svg
admin/img/LICENSE
admin/img/README.txt
admin/img/search.svg
admin/img/selector-icons.svg
admin/img/sorting-icons.svg
admin/img/tooltag-add.svg
admin/img/tooltag-arrowright.svg
admin/img/gis/move_vertex_off.svg
admin/img/gis/move_vertex_on.svg
admin/js/actions.js
admin/js/autocomplete.js
admin/js/calendar.js
admin/js/cancel.js
admin/js/change_form.js
admin/js/collapse.js
admin/js/core.js
admin/js/filters.js
admin/js/inlines.js
admin/js/jquery.init.js
admin/js/nav_sidebar.js
admin/js/popup_response.js
admin/js/prepopulate_init.js
admin/js/prepopulate.js
admin/js/SelectBox.js
admin/js/SelectFilter2.js
admin/js/urlify.js
admin/js/admin/DateTimeShortcuts.js
admin/js/admin/RelatedObjectLookups.js
admin/js/vendor/jquery/jquery.js
admin/js/vendor/jquery/jquery.min.js
admin/js/vendor/jquery/LICENSE.txt
admin/js/vendor/select2/LICENSE.md
admin/js/vendor/select2/select2.full.js
admin/js/vendor/select2/select2.full.min.js
admin/js/vendor/select2/i18n/af.js
admin/js/vendor/select2/i18n/ar.js
admin/js/vendor/select2/i18n/az.js
admin/js/vendor/select2/i18n/bg.js
admin/js/vendor/select2/i18n/bn.js
admin/js/vendor/select2/i18n/bs.js
admin/js/vendor/select2/i18n/ca.js
admin/js/vendor/select2/i18n/cs.js
admin/js/vendor/select2/i18n/da.js
admin/js/vendor/select2/i18n/de.js
admin/js/vendor/select2/i18n/dsb.js
admin/js/vendor/select2/i18n/el.js
admin/js/vendor/select2/i18n/en.js
admin/js/vendor/select2/i18n/es.js
admin/js/vendor/select2/i18n/et.js
admin/js/vendor/select2/i18n/eu.js
admin/js/vendor/select2/i18n/fa.js
admin/js/vendor/select2/i18n/fi.js
admin/js/vendor/select2/i18n/fr.js
admin/js/vendor/select2/i18n/gl.js
admin/js/vendor/select2/i18n/he.js
admin/js/vendor/select2/i18n/hi.js
admin/js/vendor/select2/i18n/hr.js
admin/js/vendor/select2/i18n/hsb.js
admin/js/vendor/select2/i18n/hu.js
admin/js/vendor/select2/i18n/hy.js
admin/js/vendor/select2/i18n/id.js
admin/js/vendor/select2/i18n/is.js
admin/js/vendor/select2/i18n/it.js
admin/js/vendor/select2/i18n/ja.js
admin/js/vendor/select2/i18n/ka.js
admin/js/vendor/select2/i18n/km.js
admin/js/vendor/select2/i18n/ko.js
admin/js/vendor/select2/i18n/lt.js
admin/js/vendor/select2/i18n/lv.js
admin/js/vendor/select2/i18n/mk.js
admin/js/vendor/select2/i18n/ms.js
admin/js/vendor/select2/i18n/nb.js
admin/js/vendor/select2/i18n/ne.js
admin/js/vendor/select2/i18n/nl.js
admin/js/vendor/select2/i18n/pl.js
admin/js/vendor/select2/i18n/ps.js
admin/js/vendor/select2/i18n/pt-BR.js
admin/js/vendor/select2/i18n/pt.js
admin/js/vendor/select2/i18n/ro.js
admin/js/vendor/select2/i18n/ru.js
admin/js/vendor/select2/i18n/sk.js
admin/js/vendor/select2/i18n/sl.js
admin/js/vendor/select2/i18n/sq.js
admin/js/vendor/select2/i18n/sr-Cyrl.js
admin/js/vendor/select2/i18n/sr.js
admin/js/vendor/select2/i18n/sv.js
admin/js/vendor/select2/i18n/th.js
admin/js/vendor/select2/i18n/tk.js
admin/js/vendor/select2/i18n/tr.js
admin/js/vendor/select2/i18n/uk.js
admin/js/vendor/select2/i18n/vi.js
admin/js/vendor/select2/i18n/zh-CN.js
admin/js/vendor/select2/i18n/zh-TW.js
admin/js/vendor/xregexp/LICENSE.txt
admin/js/vendor/xregexp/xregexp.js
admin/js/vendor/xregexp/xregexp.min.js
frontend/.gitignore
frontend/package-lock.json
frontend/package.json
frontend/README.md
frontend/public/favicon.ico
frontend/public/index.html
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/src/App.css
frontend/src/App.js
frontend/src/App.test.js
frontend/src/index.css
frontend/src/index.js
frontend/src/logo.svg
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
frontend/src/components/Confirm.js
frontend/src/components/FormPersonalDetails.js
frontend/src/components/FormUserDetails.js
frontend/src/components/Success.js
frontend/src/components/UserForm.js
myapp2/__pycache__/__init__.cpython-38.pyc
myapp2/__pycache__/__init__.cpython-39.pyc
myapp2/__pycache__/admin.cpython-39.pyc
myapp2/__pycache__/apps.cpython-38.pyc
myapp2/__pycache__/apps.cpython-39.pyc
myapp2/__pycache__/forms.cpython-39.pyc
myapp2/__pycache__/models.cpython-39.pyc
myapp2/__pycache__/urls.cpython-39.pyc
myapp1/__pycache__/__init__.cpython-38.pyc
myapp1/__pycache__/__init__.cpython-39.pyc
myapp1/__pycache__/admin.cpython-39.pyc
myapp1/__pycache__/apps.cpython-38.pyc
myapp1/__pycache__/apps.cpython-39.pyc
myapp1/__pycache__/models.cpython-39.pyc
myapp1/__pycache__/urls.cpython-39.pyc
myapp1/__pycache__/views.cpython-39.pyc
myapp1/.DS_Store
myapp2/.DS_Store
.DS_Store
myapp2/migrations/__pycache__/__init__.cpython-39.pyc
myapp2/migrations/__pycache__/0001_initial.cpython-39.pyc
myapp2/migrations/__pycache__/0002_feedbackpagemodel_homepagemodel_and_more.cpython-39.pyc
myapp2/__pycache__/__init__.cpython-38.pyc
myapp2/__pycache__/__init__.cpython-39.pyc
myapp2/__pycache__/admin.cpython-39.pyc
myapp2/__pycache__/apps.cpython-38.pyc
myapp2/__pycache__/apps.cpython-39.pyc
myapp2/__pycache__/forms.cpython-39.pyc
myapp2/__pycache__/models.cpython-39.pyc
myapp2/__pycache__/urls.cpython-39.pyc
myapp2/__pycache__/__init__.cpython-38.pyc
myapp2/__pycache__/__init__.cpython-39.pyc
myapp2/__pycache__/admin.cpython-39.pyc
myapp2/__pycache__/apps.cpython-38.pyc
myapp2/__pycache__/apps.cpython-39.pyc
myapp2/__pycache__/forms.cpython-39.pyc
myapp2/__pycache__/models.cpython-39.pyc
myapp2/__pycache__/urls.cpython-39.pyc
myapp1/__pycache__/__init__.cpython-38.pyc
myapp1/__pycache__/__init__.cpython-39.pyc
myapp1/__pycache__/admin.cpython-39.pyc
myapp1/__pycache__/apps.cpython-38.pyc
myapp1/__pycache__/apps.cpython-39.pyc
myapp1/__pycache__/models.cpython-39.pyc
myapp1/__pycache__/urls.cpython-39.pyc
myapp1/__pycache__/views.cpython-39.pyc
myapp1/migrations/__pycache__/__init__.cpython-39.pyc
myapp2/migrations/__pycache__/__init__.cpython-39.pyc
myapp2/migrations/__pycache__/0001_initial.cpython-39.pyc
myapp2/migrations/__pycache__/0002_feedbackpagemodel_homepagemodel_and_more.cpython-39.pyc
