{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div id="authen" class="w-50 ml-0 mr-0 mx-auto text-center border">
    {% if  request.user.is_authenticated %}
        <div>
        <h4>{{heading}}</h4><br>
        
            <form method ="post" enctype="multipart/form-data" action="/myapp3/uploadexhibitfile" id="uploadform">
            {% csrf_token%}
            
                <input type = "file" name="file" class="form-control-file" accept=".xlsx" required/>
                <input type = "submit" name="submt" value = "uplaod" class ="btn btn-secondary"/>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block js%}
           <script src="{% static 'js/script.js' %}"></script>  
{% endblock js%}

