body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  height: 100px;
  background-color: #f2f2f2;
}

.footer {
  height: 100px;
  background-color: #f2f2f2;
  margin-top: auto;
}

.content-fluid {
  display: flex;
}

.sidebar {
  padding-top: 3px;
  background-color: #f8f9fa;
  height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid #ddd;
}

.main {
  padding-top: 3px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid #ddd;
}

.custom-grid {
  display: grid;
  grid-template-columns: 200px 1fr; /* Adjust the column widths as needed */
  grid-gap: 0;
}

.custom-grid .sidebar {
  background-color: #f8f9fa;
}

.custom-grid .main {
  padding: 3px;
  background-color: #fff;
}

.center-div{
  display:flex;
  align-items: center;
  justify-content: center;
}

td {
  white-space: nowrap;
}

.active{
  background-color: lightgrey;
  border-style: groove;
  box-shadow: 10px 10px grey;
  
  }