:root {
  --font-size: 14px; 
  --font-family: Georgia, 'Times New Roman', Times, serif;
  --hf1-color:#f1f1f8;
  --hf2-color:#fcfcfc;
  --brdr-color:None;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
 
}

.header {
  height: 100px;
  background-color:  var(--hf1-color);
  font-size: var(--font-size);
  font-family:  var(--font-family);
}

.footer {
  height: 100px;
  background-color:   var(--hf1-color);
  margin-top: auto;
  font-size: var(--font-size);
  font-family:  var(--font-family);
}

.content-fluid {
  display: flex;
}

.sidebar {
  padding-top: 3px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid var(--brdr-color);
  font-size: var(--font-size);
  font-family:  var(--font-family);
}

.main {
  padding-top: 3px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  border: 1px solid var(--brdr-color);
  font-size: var(--font-size);
  font-family:  var(--font-family);
}

.custom-grid {
  display: grid;
  grid-template-columns: 200px 1fr; /* Adjust the column widths as needed */
  grid-gap: 0;
}

.custom-grid .sidebar {
  background-color: var(--hf2-color);
}

.custom-grid .main {
  padding: 3px;
  background-color: #fff;
}

.center-div{
  display:flex;
  align-items: center;
  justify-content: center;
}

td {
  white-space: nowrap;
}

.active{
  background-color: lightgrey;
  border-style: groove;
  }

  
 table{
  font-size: var(--font-size);
  font-family: var(--font-family);
 }


a {
  text-decoration: none;
}


.link-container {
  display: flex;
  /* border: 1px solid #ccc; */
  padding: 5px;
}

.link-item {
  margin-right: 10px;
}


.mesage_text{
  color: red;
          
          display: inline-block;
          text-align: center;
}