{% extends 'body.html' %} {% load static %}
{% block title %} {{ title }} {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% block messagecontent %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block maincontent %}

<div class="container">
  <h5>Select any one template to clone</h5>


<form action="/ratemanager/selectExhibitOptions/?showAllExhibits=False"
      method="post">
      {% csrf_token %}
<div class="container table-responsive">
    <table id="example" class="table table-sm table-condensed cell-border">
      <thead>
        <tr>
          <th class="no-sort" onclick="event.stopPropagation();">Select</th>
          <th>Ratebook Name</th>
          <th>Ratebook ID</th>
          <th>Ratebook Version</th>
          <th>New Business Effective Date</th>
          <th>Renewal Effective Date</th>
          <th>Migration Date</th>
          <th>Migration Time</th>
          <th>Activation Date</th>
          <th>Activation Time</th>
          <th>Ratebook Revision Type</th>
          <th>Ratebook Status Type</th>
          <th>Ratebook Change Type</th>
          <th>Carrier</th>
          <th>State</th>
          <th>Line of Business</th>
          <th>UW Company</th>
          <th>Policy Type</th>
          <th>Policy SubType</th>
          <th>Product Code</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
      {% if similarRBs %}
      {% for obj in similarRBs %}
        <tr>
          <td onclick="event.stopPropagation();">
            <input type="checkbox" name="toCloneRB" value="{{ obj.id }}">
          </td>
          <td>{{obj.RatebookName}}</td>
          <td>{{obj.RatebookID}}</td>
          <td>{{obj.RatebookVersion|floatformat:1}}</td>
          <td>{{obj.NewBusinessEffectiveDate}}</td>
          <td>{{obj.RenewalEffectiveDate}}</td>
          <td>{{obj.MigrationDate}}</td>
          <td>{{obj.MigrationTime}}</td>
          <td>{{obj.ActivationDate}}</td>
          <td>{{obj.ActivationTime}}</td>
          <td>{{obj.RatebookRevisionType}}</td>
          <td>{{obj.RatebookStatusType}}</td>
          <td>{{obj.RatebookChangeType}}</td>
          <td>{{obj.Carrier}}</td>
          <td>{{obj.State}}</td>
          <td>{{obj.LineofBusiness}}</td>
          <td>{{obj.UWCompany}}</td>
          <td>{{obj.PolicyType}}</td>
          <td>{{obj.PolicySubType}}</td>
          <td>{{obj.ProductCode}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
  <br>
  <div class="row justify-content-around">
    <button
    type="button"
    name="back"
    class="btn btn-sm btn-secondary col-md-3"
    onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
    >Back</button>
    <input class="btn btn-sm btn-primary col-md-3" type="submit" id="submit" value="Clone and Next">
  </div>
</form>
</div>
{% endblock maincontent %}

{% block js %}
<!-- JS to make searchable headers -->
<script type="text/javascript">

$(document).ready( function () {
  // Create the DataTable
  var table = $('#example').DataTable( {
    "initComplete": function(settings, json) {
      //$('.dataTables_paginate').css('float', 'left');
    },
    dom:'prt',
    fixedHeader: true,
    pageLength: 5,
    orderCellsTop: true,
    bLengthChange: false,
    info:false,
  } );
  
  // Add filtering
  table.columns([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]).every( function () {
      var that = this;

      // Create the `select` element
      var select = $('<select><option value=""></option></select>')
        .appendTo(
          $('thead tr:eq(1) td').eq( this.index() )
        )
        .on( 'change', function() {
          that
            .search($(this).val())
            .draw();
        } );

      // Add data
      this
        .data()
        .sort()
        .unique()
        .each( function(d) {
          select.append($('<option>' + d + '</option>'));
        } );
      
      // Restore state saved values
      var state = this.state.loaded();
      if ( state ) {
        var val = state.columns[ this.index() ];
        select.val( val.search.search );
    }
  } );
} );

// Allow only one selection alert on more than one selection

$('input[type=checkbox]').on('change', function (e) {
  if ($('input[type=checkbox]:checked').length > 1)
  {
    $(this).prop('checked', false);
    alert("Max allowed selections is 1");
  }
  else if ($('input[type=checkbox]:checked').length == 1){
      $("#submit").prop("disabled", false);
  }
});
</script>
{% endblock js%}