{% extends 'body.html' %} {% load static %}
{% block title %} Create Template {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %}

<div>
    <h3 class="col-md-8">Found some similar ratebooks, select any one to clone.</h3>
    <form method="POST" action="/ratemanager/cloneOptions/{{ prodCode }}/">
      {% csrf_token %}
    <div class="row justify-content-around">
    <button
    type="submit"
    name="skip"
    class="btn btn-warning col-md-3"
    value="skip"
    >Skip to Create Exhibits from Scratch</button>
  </div>
  </form>
  </div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
<form action="/ratemanager/cloneRB/"
      method="post">
      {% csrf_token %}
<div class="container table-responsive">          
    <table id="example" class="table table-sm table-condensed cell-border table-hover">
      <thead>
        <tr>
          <th class="no-sort" onclick="event.stopPropagation();">Select</th>
          <th>Ratebook Name</th>
          <th>Ratebook ID</th>
          <th>Ratebook Version</th>
          <th>New Business Effective Date</th>
          <th>Renewal Effective Date</th>
          <th>Migration Date</th>
          <th>Migration Time</th>
          <th>Activation Date</th>
          <th>Activation Time</th>
          <th>Ratebook Revision Type</th>
          <th>Ratebook Status Type</th>
          <th>Ratebook Change Type</th>
          <th>Carrier</th>
          <th>State</th>
          <th>Line of Business</th>
          <th>UW Company</th>
          <th>Policy Type</th>
          <th>Policy SubType</th>
          <th>Product Code</th>
        </tr>
      </thead>
      <tbody>
      {% if similarRBs %}
      {% for obj in similarRBs %}
        <tr>
          <td onclick="event.stopPropagation();">
            <input type="checkbox" name="toCloneRB" value="{{ obj.id }}">
          </td>
          <td>{{obj.RatebookName}}</td>
          <td>{{obj.RatebookID}}</td>
          <td>{{obj.RatebookVersion|floatformat:1}}</td>
          <td>{{obj.NewBusinessEffectiveDate}}</td>
          <td>{{obj.RenewalEffectiveDate}}</td>
          <td>{{obj.MigrationDate}}</td>
          <td>{{obj.MigrationTime}}</td>
          <td>{{obj.ActivationDate}}</td>
          <td>{{obj.ActivationTime}}</td>
          <td>{{obj.RatebookRevisionType}}</td>
          <td>{{obj.RatebookStatusType}}</td>
          <td>{{obj.RatebookChangeType}}</td>
          <td>{{obj.Carrier}}</td>
          <td>{{obj.State}}</td>
          <td>{{obj.LineofBusiness}}</td>
          <td>{{obj.UWCompany}}</td>
          <td>{{obj.PolicyType}}</td>
          <td>{{obj.PolicySubType}}</td>
          <td>{{obj.ProductCode}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row justify-content-around">
      <button
      type="button"
      name="back"
      class="btn btn-secondary col-md-3"
      onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
      >Back</button>
      <input class="btn btn-success col-md-3" type="submit" id="submit" value="Clone and Next">
  </div>
</form>
{% endblock %}
{% block js%}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#example').DataTable({
        paging: false,
        searching: false,
        info: false,
        order: [[9, 'desc']],
        'columnDefs': [ {
                  'targets': [0],
                  'orderable': false,
            }]
      });
    });
    $('input[type=checkbox]').on('change', function (e) {
      if ($('input[type=checkbox]:checked').length > 1)
      {
        $(this).prop('checked', false);
        alert("Max allowed selections is 1");
      }
      else if ($('input[type=checkbox]:checked').length == 1){
          $("#submit").prop("disabled", false);
      }
      else
      {
        $("#compare_button").prop("disabled", true);
        $("#export_template_button").prop("disabled", true);
      }
    });
  </script>
{% endblock js%}