{% extends 'body.html' %} {% load static %}
{% block title %} Create Template {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %}

<div class="row justify-content-around">
    <h3 class="col-md-8">Found some similar ratebooks, select any one to clone.</h3>
    <button
    type="button"
    name="back"
    class="btn btn-warning col-md-3"
    onclick="window.location.href = '/ratemanager/createExhibitsAndVariables/{{ pk }}/'"
    >Skip</button>
  </div>
<form action="/ratemanager/cloneOptions/"
      method="get">
<div class="container table-responsive">          
    <table id="example" class="table table-sm table-condensed cell-border table-hover">
      <thead>
        <tr>
          <th class="no-sort" onclick="event.stopPropagation();">Select</th>
          <th>Ratebook Name</th>
          <th>Ratebook ID</th>
          <th>Ratebook Version</th>
          <th>New Business Effective Date</th>
          <th>Renewal Effective Date</th>
          <th>Migration Date</th>
          <th>Migration Time</th>
          <th>Activation Date</th>
          <th>Activation Time</th>
          <th>Ratebook Revision Type</th>
          <th>Ratebook Status Type</th>
          <th>Ratebook Change Type</th>
          <th>Carrier</th>
          <th>State</th>
          <th>Line of Business</th>
          <th>UW Company</th>
          <th>Policy Type</th>
          <th>Policy SubType</th>
          <th>Product Code</th>
        </tr>
      </thead>
      <tbody>
      {% if similarRBs %}
      {% for obj in similarRBs %}
        <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/ratemanager/viewRBbyVersionExhibits/{{ obj.RatebookID }}/{{ obj.RatebookVersion }}';">
          <td onclick="event.stopPropagation();">
            <input type="checkbox" name="selectedRBs" value="{{ obj.RatebookID }}_{{obj.RatebookVersion}}_{{obj.RatebookName}}">
          </td>
          <td>{{obj.RatebookName}}</td>
          <td>{{obj.RatebookID}}</td>
          <td>{{obj.RatebookVersion|floatformat:1}}</td>
          <td>{{obj.NewBusinessEffectiveDate}}</td>
          <td>{{obj.RenewalEffectiveDate}}</td>
          <td>{{obj.MigrationDate}}</td>
          <td>{{obj.MigrationTime}}</td>
          <td>{{obj.ActivationDate}}</td>
          <td>{{obj.ActivationTime}}</td>
          <td>{{obj.RatebookRevisionType}}</td>
          <td>{{obj.RatebookStatusType}}</td>
          <td>{{obj.RatebookChangeType}}</td>
          <td>{{obj.Carrier}}</td>
          <td>{{obj.State}}</td>
          <td>{{obj.LineofBusiness}}</td>
          <td>{{obj.UWCompany}}</td>
          <td>{{obj.PolicyType}}</td>
          <td>{{obj.PolicySubType}}</td>
          <td>{{obj.ProductCode}}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
</form>

<div class="row justify-content-around">
    <button
    type="button"
    name="back"
    class="btn btn-secondary col-md-3"
    onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
    >Back</button>
    <input class="btn btn-success col-md-3" type="submit" id="submit" value="Clone and Next">
</div>

{% endblock %}
{% block js%}
  <script src ="{% static 'js/viewRBbyVersionScript.js' %}" type="text/javascript"></script>
{% endblock js%}