{% extends 'body.html' %} {% load static %}
{% block title %} View Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 

{{ statsTableHTML }}
<br>
Exhibits that have been changed:<br>
<ul>
{% for i in changedExhibits %}
    <li>{{ i }}</li><br>
{% endfor %}
</ul>
<br>
<b>Summary of Changes between version {{ oldVer }} and {{ newVer }} of RatebookID {{ rbID }}:</b>
<div class="container table-responsive">
{{ diffTableHTML | safe }}
</div>
<script>
    $(document).ready(function () {
      $('#T_changes').DataTable({
        paging: false,
        searching: false,
        info: false,
        ordering: false,
      });
  });
  $('#T_changes').addClass("table table-sm display compact cell-border");
  </script>
{% endblock %}
