{% extends 'body.html' %} {% load static %}
{% block title %} Create Template {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %}
<h2>Create Template</h2>
<template id="id_exhibit_empty_form">
  {{ form.empty_form }}
  {{ form.nested.management_form }}
  {{ form.nested.non_form_errors }}
    {{ form.nested.emptyform }}
</template>
<form method="post" autocomplete="off">
{% for hidden_field in form.hidden_fields %}
{{ hidden_field.errors }}
{{ hidden_field }}
{% endfor %}

{% csrf_token %}

{{ form.management_form }}
{{ form.non_form_errors }}
<div id="exhibit-formset">
  {% for exhibit_form in form.forms %}

    <hr>

    <b><u>
      {% if exhibit_form.instance.id %}
        Exhibit #{{ exhibit_form.instance.id }}</h2>
      {% else %}
        {% if form.forms|length > 1 %}
          Add another Exhibit
        {% else %}
          Add an Exhibit
        {% endif %}
      {% endif %}
    </u></b>

    {% for hidden_field in exhibit_form.hidden_fields %}
      {{ hidden_field.errors }}
    {% endfor %}

      <table>
      {{ exhibit_form.as_table }}
      </table>
        {% if exhibit_form.nested %}
          <div class="indent text-center">
            <br>
            <b><u>Rating Variables</u></b><br>

            {{ exhibit_form.nested.management_form }}
            {{ exhibit_form.nested.non_form_errors }}

              {% for ratingvars_form in exhibit_form.nested.forms %}
                    <em>
                      {% if ratingvars_form.instance.id %}
                        Rating Variable #{{ ratingvars_form.instance.id }}
                      {% else %}
                        Add another variable
                        &nbsp;
                      {% endif %}
                    </em>
                    {% for hidden_field in ratingvars_form.hidden_fields %}
                      {{ hidden_field.errors }}
                    {% endfor %}
                    <table class="mx-auto">
                      {{ ratingvars_form.as_table }}
                    </table>
                      <br>
              {% endfor %}
        <input  class="btn btn-sm btn-outline-primary" 
                name="add-variables" 
                value="Add a Variable"
                type="button"
                data-formset-prefix="{{ exhibit_form.nested.prefix }}"
                >
      </div>
    {% endif %}

  {% endfor %}
</div>
<hr>
  <div class="row justify-content-center">
    <input class="btn btn-sm btn-outline-primary col-md-2" type="button" id="add-exhibit" value="Add an Exhibit">
  </div>
  <br>
  <div class="row justify-content-around">
    <button
    type="button"
    name="back"
    class="btn btn-secondary col-md-3"
    onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
    >Back</button>
    <input class="btn btn-success col-md-3" type="submit" id="submit" value="Update">
    <a class="btn btn-primary col-md-3" href="/ratemanager/exportTemplate/{{pk}}/">Export Template</a>
  </div>

</form>
{% endblock %}
{% block js%}
  <script src ="{% static 'js/add_delete_nested_formsets.js' %}" type="text/javascript"></script>
{% endblock js%}