{% extends 'body.html' %} {% load static %}
{% block title %} Create Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %}
<h2>Create Template</h2>
<form class="form-control"
      method="post"
      id="rbMetadataForm"
      action="/ratemanager/createTemplate/">
      {% csrf_token %}
      {{ form.mamagement_form }}
      <table class="table table-sm">
        {% for field in form %}
          {%if forloop.counter|divisibleby:"2" %}
            <td>
              {{field.label}}:&emsp;{{field}}
            </td>
          </tr>
          {%else%}
          <tr>
            <td>
              {{field.label}}:&emsp;{{field}}
            </td>
          {%endif%}
        {%endfor%}
      </table>
      <div class="row justify-content-center">
        <input
            type="submit"
            name="submit"
            value="Save & Next"
            class="btn btn-primary col-md-3"
            action="/ratemanager/createTemplate/"
          />
        </div>
        </form>
{% endblock %}
