{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if  request.user.is_authenticated %}
        <h5>{{heading}}</h5>
            <table id = "example" class = "cell-border">
                <thead>
                    <tr></tr>
                </thead>
                <tfoot>
                    <tr></tr>
                </tfoot>
                <tbody>
                   <tr></tr>
                </tbody>
            </table>
    {% endif %}

{% endblock %}

{% block js%}
         <script src ="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock js%}

