{% extends 'body.html' %} {% load static %}
{% block title %} {{ title }} {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% block messagecontent %}
{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block maincontent %} 

<p>Showing for {{ rbname }}; ID: {{ rbid }}; Version: {{ rbver }};</p> 
<hr>
<div class="container">
<div class="row justify-content-around align-items-start">
  <button
  type="button"
  name="back"
  class="btn btn-sm btn-secondary col-md-auto"
  onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
  >Back</button>

  <button 
  type="button" 
  class="btn btn-sm btn-primary col-md-auto" 
  onclick="window.location.href='/ratemanager/addExhibit2Template/';">
  Add an Exhibit
  </button>

  <form class="col-md-auto" method="post" action="/ratemanager/exportTemplate/{{ rbid }}/">
    {% csrf_token %}
  <input
      type="submit"
      name="submit"
      value="Download the Template"
      class="btn btn-sm btn-primary col-md-auto"
      method="post"
      action="/ratemanager/exportTemplate/{{ rbid }}/"
    /></form>

    <button
    type="button"
    name="next"
    class="btn btn-sm btn-primary col-md-auto"
    onclick="window.location.href='/ratemanager/createRB/';"
    >Next</button>

  </div>

<hr>

{% if not ExhibitObjs %}
  <h2>No Exhibits Added to this Ratebook yet, Click on add more to Add an exhibit</h2>

{% else %}
<div class="container table-responsive">
  <table class="table table-sm table-condensed cell-border">
    {% for exhibit in ExhibitObjs %}
    <tr>
      <td>{{ exhibit.RatebookExhibit }}</td>
      <td><a href="{% url 'ratemanager:editExhibitTemplate' exhibit.id %}">Modify Coverages</a></td>

      <td><a href="{% url 'ratemanager:deleteExhibitTemplate' exhibit.id %}">Delete from Template</a></td>

      <td>
      <a 
        href=""
        hx-get="/ratemanager/previewExhibit/{{ exhibit.id }}/" 
        hx-target="#preview-popup" 
        hx-trigger="click"
        data-bs-toggle="modal"
        data-bs-target="#preview-popup"> Preview </a>
        </td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endif %}

<!-- Popup Preview -->
<div id="preview-popup"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
</div>


{% endblock %}
