{% extends 'body.html' %} {% load static %}
{% block title %} {{ title }} {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% block messagecontent %}
{% if messages %}
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block maincontent %}
<div class="container">
  <div class="text-center">
  {% for key, value in searchOptionsData.items %}
    {{ value }} |&ensp;
  {% endfor %}
  </div>
  <hr>
<form class="form"
      method="post">
    {% csrf_token %}
    <div class="form-group">
    <table class="table table-sm table-responsive w-auto mx-auto table-borderless">
    {{ form.as_table }}
    </table>
    </div>
    <!-- Ask if clone from existing or create from scratch -->
    {% if rbID %}
    <input value="{{ rbID }}" name="rbID" hidden>
    {% else %}
    <div id="createFromOptionsForm">
      <div class="row justify-content-center">
        Choose your starting point:
        <div class="radio text-center col-md-auto">
          <input 
          class="form-check-input"
          onchange="//this.form.submit();"
          type="radio" 
          name="CreateFrom"
          value="fromScratch"
          required="required"
          id="fromScratch"
          checked
          >
          <label for="fromScratch">Create template from scratch</label>
          &emsp;
          <input 
          class="form-check-input"
          onchange="//this.form.submit();"
          type="radio" 
          value="clone"
          name="CreateFrom"
          id="clone"
          >
          <label for="clone">Create a clone from an existing ratebook</label>
        </div>
      </div>
    </div>
    <br>
    {% endif %}
    <div class="row justify-content-around">
        <button
        type="button"
        name="back"
        class="btn btn-sm btn-secondary col-md-auto"
        onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
        >Back</button>

        <input
            type="submit"
            name="submit"
            value="Next"
            class="btn btn-sm btn-primary col-md-auto"
          />
        </div>

</form>
</div>
{% endblock %}