{% load dynamicdatatable_tags %}{% load templateSearchResults_tags %}

<div id="results">
  <table id="searchResults" 
  class="table table-sm table-condensed text-center 
          align-middle table-hover cell-border">
    <thead>
      <tr>
        <th>Menu</th>
        {% with searchResultTableHeaders|first as obj %}
        {% for field in searchResultTableHeaders %}
        <th>{{ field.verbose_name }}</th>
        {% endfor %}
        {% endwith %}
        <th>More details</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in searchResults %}
      <tr>
        <!-- Dropdown Menu td -->
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" title="View" 
              href="{% url 'ratemanager:viewTemplate' obj.RatebookID %}"
              ><i class="fa fa-eye"></i>&nbsp;View</a>
            </li>            

            <li>
              {% if obj.Environment != 'Production' %}
              <a class="dropdown-item" title="Modify" href="{% url 'ratemanager:selectFromAllExhibitsList' obj.id %}"
              ><i class="fa fa-edit"></i>&nbsp;Modify</a>
              {% endif %}
            </li>

            <li>
              {% if obj.Environment != 'Production' %}
              <a class="dropdown-item" title="Delete" href="{% url 'ratemanager:deleteTemplate' obj.RatebookID %}"
              ><i class="fa fa-trash"></i>&nbsp;Delete</a> 
              {% endif %}
            </li>

            <li>
              <a class="dropdown-item" title="Download" href="{% url 'ratemanager:exportTemplate' obj.RatebookID %}"
              ><i class="fa fa-download">&nbsp;Download</i></a>
            </li>

            <li>
              {% if obj|checkTemplateCreateEnable %}
              <a class="dropdown-item" title="Create" href="{% url 'ratemanager:projectIdAndDateInput' %}?rbID={{ obj.RatebookID }}"
              ><i class="fa fa-plus"></i>&nbsp;Create</a>
              {% endif %}
            </li>
          </ul>
        </div>
        </td>

        <!-- Non Menu row items -->
        {% for field in searchResultTableHeaders %} 
          <td>{{ obj|get_attribute:field.name }}</td>
        {% endfor %}
        <td>
          <a title="
          {% for field in moreSearchTableHeaders %} 
          {{ field.verbose_name }}: {{ obj|get_attribute:field.name }}
          {% endfor %}" href=""
          hx-get="/ratemanager/moreTemplateDetailsPopup/{{ obj.id }}/" 
          hx-target="#preview-popup" 
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#preview-popup"
          ><i class="fa fa-info-circle"></i
          ></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <!-- Popup Preview -->
<div id="preview-popup"
      class="modal modal-blur fade"
      style="display: none"
      aria-hidden="false"
      tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content"></div>
  </div>
</div>
</div>
