{% extends 'body.html' %} {% load static %}
{% block title %} {{ title }} {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% block messagecontent %}
{% if messages %}
<div class="alert alert-primary p-1" style="color: blue; font-size: 14px; display: inline-block; text-align: center;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% load crispy_forms_tags %}
{% block maincontent %}

<div class="container">

<!-- Create Intent Form -->
<form method="post"
      id="rbMetadataForm"
      action="/ratemanager/template/">
      {% csrf_token %}

<div class="form">
  <div class="row justify-content-center">
    <div class="radio text-center col-md-6">
      {% for choice in mainActionForm.MainAction.field.choices %}
          <input 
          class="form-check-input"
          onchange="//this.form.submit();"
          type="radio" 
          name="MainAction" 
          value="{{ choice.0 }}"
          {% if choice.0 == mainActionForm.MainAction.value %} checked="checked" {% endif %}
          required="required"
          id="{{ choice.0 }}"
          >
          <label for="{{ choice.0 }}">{{ choice.1 }}</label>
          &emsp;
      {% endfor %}
    </div>
  </div>
</div>
<br>

<!-- Current ratebook details form -->
<table class="table table-responsive table-borderless table-sm w-75 mx-auto">
  {% for field in createTemplateForm %}
    {%if forloop.counter|divisibleby:"2" %}
      <td>
        <b>{{field.label}}</b>:&emsp;{{field}}
      </td>
    </tr>
    {%else%}
    <tr>
      <td>
        <b>{{field.label}}</b>:&emsp;{{field}}
      </td>
    {%endif%}
  {%endfor%}
</table>

<div class="row justify-content-around">
  <input
  type="submit"
  name="submit"
  value="Search"
  class="btn btn-sm btn-primary col-md-1"
  action="/ratemanager/template/"
  />
  <input
      type="submit"
      name="submit"
      value="Next"
      class="btn btn-sm btn-primary col-md-1"
      action="/ratemanager/template/"
    />
  </div>
</form>

{% if searchResults %}
    {% include 'ratemanager/TemplateSearchResults.html' %}
{% endif %}
</div>
{% endblock %}
