{% load dynamicdatatable_tags %}

<center>
<div id="results" class="container table-responsive">
  <b>Search Results:</b>
  <table id="example" class="table table-sm table-condensed table-bordered text-center">
    <thead>
      <tr>
        <th>View</th>
        <th>Modify</th>
        <th>Delete</th>
        <th>Download</th>
        <th>Clone</th>
        {% with searchResultTableHeaders|first as obj %}
        {% for field in searchResultTableHeaders %}
        <th>{{ field.verbose_name }}</th>
        {% endfor %}
        {% endwith %}
      </tr>
    </thead>
    <tbody>
    {% for obj in searchResults %}
      <tr>
        <td>
          
          <a title="View" href="{% url 'ratemanager:viewTemplate' obj.RatebookID %}"
          ><i class="fa fa-eye"></i
          ></a>
        </td>
        <td>
          <a title="Modify" href="{% url 'ratemanager:selectFromAllExhibitsList' obj.id %}"
          ><i class="fa fa-edit"></i
          ></a>
        </td>
        <td>
          <a title="Delete" href="{% url 'ratemanager:deleteTemplate' obj.RatebookID %}"
          ><i class="fa fa-trash"></i
          ></a> 
        </td>
        <td>
          <a title="Download" href="{% url 'ratemanager:exportTemplate' obj.RatebookID %}"
          ><i class="fa fa-download"></i
          ></a>
        </td>
        <td>
          <a title="Clone" href="{% url 'ratemanager:projectIdAndDateInput' %}"
          ><i class="fa fa-clone"></i
          ></a>
        </td>
        {% for field in searchResultTableHeaders %} 
          <td>{{ obj|get_attribute:field.name }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</center>