{% extends 'base.html' %} {% load static %} {% block title %} {{title}}
{%endblock %} {% load crispy_forms_tags %} {% block content %}
<div>
  {% if request.user.is_authenticated %}
  <div>
    <h4>{{heading}}</h4>
    <br />

    <form
      method="post"
      enctype="multipart/form-data"
      action="/ratemanager/uploadexhibitfile"
      id="uploadform"
    >
      {% csrf_token%}
      <select>
        {% for i in states %}
        <option value="{{i.StateName}}">{{ i.StateName }}</option>
        {% endfor %}
      </select>
      <select>
        {% for i in carriers %}
        <option value="{{i.CarrierName}}">{{ i.CarrierName }}</option>
        {% endfor %}
      </select>
      <input
        type="file"
        name="file"
        class="form-control-file"
        accept=".xlsx"
        required
      />
      <input
        type="submit"
        name="submt"
        value="uplaod"
        class="btn btn-secondary"
      />
    </form>
  </div>
  {% endif %}
</div>
{% endblock %} {% block js%}
<script src="{% static 'js/script.js' %}"></script>
{% endblock js%}
