{% extends 'body.html' %} {% load static %}
{% block title %} Create Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 
<div class="text-center">
  {{ rbID }} |&ensp;
  {% for key, value in selectedData.items %}
    {{ value }} |&ensp;
  {% endfor %}

<hr>

<button
  type="button"
  name="back"
  class="btn btn-sm btn-secondary"
  onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
>Back</button>
<button 
  class="btn btn-sm btn-primary" 
  id="expand-all">Expand All</button>
<button 
  class="btn btn-sm btn-primary"
  id="hide-all">Hide All</button>
</div> 

<br>

{% if TempleteObjectHeirarchy is not None %}
<table class="table table-sm table-condensed cell-border">
  {% for exhibit, data in TempleteObjectHeirarchy.items %}
  <tr>
  <td>
  <details>
    <summary>{{ exhibit.1 }}</summary>
      {% for field, list in data.items %}
      <ul>
          <details>
            <summary>{{ field }}</summary>
            <ul>
              {% for subfield in list %}
                <li>{{ subfield }}</li>
              {% endfor %}
            </ul>
      </ul>
      {% endfor %}

  </details>
  </td>
  <td>
    <a 
    href=""
    hx-get="/ratemanager/previewExhibit/{{ exhibit.0 }}/" 
    hx-target="#preview-popup" 
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#preview-popup"> Preview </a>
  </td>
  </tr>
  {% endfor %}
</table>
    <script>
      const expandAllButton = document.getElementById('expand-all');
      const hideAllButton = document.getElementById('hide-all');

      expandAllButton.addEventListener('click', () => {
        const detailsElements = document.querySelectorAll('details');
        detailsElements.forEach(el => el.open = true);
      });

      hideAllButton.addEventListener('click', () => {
        const detailsElements = document.querySelectorAll('details');
        detailsElements.forEach(el => el.open = false);
      });
    </script>
{% else %}
    No Exhibits have been added to this Template yet.
{% endif %}
<!-- Popup Preview -->
<div id="preview-popup"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
</div>
{% endblock %}
