{% extends 'body.html' %} {% load static %}
{% block title %} Create Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 

{% for exhibit, data in TempleteObjectHeirarchy.items %}
<details>
  <summary>{{ exhibit }}</summary>
    {% for field, list in data.items %}
    <ul>
        <details>
          <summary>{{ field }}</summary>
          <ul>
            {% for subfield in list %}
              <li>{{ subfield }}</li>
            {% endfor %}
          </ul>
    </ul>
    {% endfor %}

</details>
{% endfor %}

{% endblock %}
