{% extends 'body.html' %} {% load static %}
{% block title %} Create Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 
<button
  type="button"
  name="back"
  class="btn btn-sm btn-secondary"
  onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
>Back</button>
<button 
  class="btn btn-sm btn-primary" 
  id="expand-all">Expand All</button>
<button 
  class="btn btn-sm btn-primary"
  id="hide-all">Hide All</button>

  <hr>

{% if TempleteObjectHeirarchy is not None %}

  {% for exhibit, data in TempleteObjectHeirarchy.items %}
  <details>
    <summary>{{ exhibit }}</summary>
      {% for field, list in data.items %}
      <ul>
          <details>
            <summary>{{ field }}</summary>
            <ul>
              {% for subfield in list %}
                <li>{{ subfield }}</li>
              {% endfor %}
            </ul>
      </ul>
      {% endfor %}

  </details>
  {% endfor %}

    <script>
      const expandAllButton = document.getElementById('expand-all');
      const hideAllButton = document.getElementById('hide-all');

      expandAllButton.addEventListener('click', () => {
        const detailsElements = document.querySelectorAll('details');
        detailsElements.forEach(el => el.open = true);
      });

      hideAllButton.addEventListener('click', () => {
        const detailsElements = document.querySelectorAll('details');
        detailsElements.forEach(el => el.open = false);
      });
    </script>
{% else %}
    No Exhibits have been added to this Template yet.
{% endif %}
{% endblock %}
