{% extends 'base.html' %} {% load static %} {% load product_tags %} {% block title %} {{ title }} {% endblock %} {% load crispy_forms_tags %} {% block content%} {% if request.user.is_authenticated %}
<div class="container">
  <h4>Coverages</h4>
  <div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-responsive-sm custom-table">
          <thead>
            <tr>
              <th>Select</th>
              <th>Coverage</th>
              
            </tr>
          </thead>
          <tbody>
          {% for item in coverage %}
          <tr>
              <td>

        <input type="checkbox" name="selected_items" value="{{ item.field_name }}"></td>
      <td>  {{ item.CoverageName }} </td>

{% endfor %}
             </tr>
            
                
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %} {% block js%} {% endblock js%}
