{% extends 'body.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ title }}{% endblock %} 
{% load crispy_forms_tags%} {% block sidebarcontent %} {% include 'productconfigurator/sidebar.html' %} {%endblock %} {% block maincontent%} 
{% if  request.user.is_authenticated %}

<form method="POST" action="{% url 'createproductcoverage' %}">
  {% csrf_token %} 

      <table class="table table-responsive table-borderd">
      {% for field in coverage_form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
    </table>

  <button class="btn btn-secondary"  type="submit">select coverage options</button>
</form>

 {% endif %} {% endblock %} {% block js%} {% endblock js%}
