{% extends 'body.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ title }}{% endblock %} 
{% load crispy_forms_tags%} {% block sidebarcontent %} {% include 'productconfigurator/sidebar.html' %} {%endblock %} {% block maincontent%} 
{% if  request.user.is_authenticated %}

<form method="POST" action="{% url 'createcoverageoptns' %}">
  {% csrf_token %} 
  {{ coverage_option_form.selected_options}}
    
  <button class="btn btn-secondary"  type="submit">Select coverage options</button>
</form>


 {% endif %} {% endblock %} {% block js%} {% endblock js%}
