{% extends 'body.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ title }}{% endblock %} 
{% load crispy_forms_tags%} {% block sidebarcontent %} {% include 'productconfigurator/sidebar.html' %} {%endblock %} {% block maincontent%} 
{% if  request.user.is_authenticated %}


<p>Are you sure you want to delete the following product?</p>

<form method="post">
   {% csrf_token %}
   <input type="submit" class="btn btn-danger" value="Delete">
   <a href="#" onclick="history.back();" class="btn btn-secondary">Cancel</a>
</form>
{%else%}
Please Login to access this 
 {% endif %} {% endblock %} {% block js%} {% endblock js%}
