{% extends 'base.html' %} {% load static %} {% block title %} {{title}}
{%endblock %} {% load crispy_forms_tags %} {% block content %} 
{% if request.user.is_authenticated %}
<div class="container p-3">
  <form method="post" action="#">
    
    {% csrf_token %}
    <table class="table table-responsive table-bordered">
      {% for field in product_form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
    </table>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
{% endif %} {% endblock %} {% block js%} {% endblock js%}
