{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if  request.user.is_authenticated %}
        <div class="container mt-5">
                        <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                            <label for="carrier">Carrier</label>
                            <input type="text" class="form-control" id="carrier" name="carrier" required>
                            </div>
                            <div class="form-group col-md-4">
                            <label for="uwCompany">UW Company</label>
                            <input type="text" class="form-control" id="uwCompany" name="uwCompany" required>
                            </div>
                            <div class="form-group col-md-4">
                            <label for="lineOfBusiness">Line of Business</label>
                            <input type="text" class="form-control" id="lineOfBusiness" name="lineOfBusiness" required>
                            </div>
                        </div>
                        <!-- Repeat the above form-group code for other fields -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
  </div>
    {% endif %}

{% endblock %}

{% block js%}

{% endblock js%}

