{% extends 'body.html' %} {% load static %} {% load product_tags %} {% load options_tag %} 
{% block title %} {{ title}}{% endblock %} 
{% load crispy_forms_tags%} 
{% block sidebarcontent %} 
{% include 'productconfigurator/sidebar.html' %} 
{%endblock %} 
{% block maincontent%} 
{% if request.user.is_authenticated %}
<form method="GET">
   <table class="table table-responsive table-borderd">
      {% for field in form %}
      <tr>
         <td>{{ field.label_tag }}</td>
         <td>{{ field }}</td>
      </tr>
      {% endfor %}
   </table>
   <button class="btn btn-secondary" type="submit">Filter</button>
</form>
<div class="">
   <div class="table-outer-div " >
      <table class="table table-responsive table-borderd">
         <thead class="table-something">
            <tr>
               {% for field in model_fields %} {% if field != 'id' and field != 'CreateTime' and field != 'UpdateTime'%}
               <th>{{ field }}</th>
                  {% endif %} {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for object in objects %}
            <tr>
               {% for field in model_fields %} {% if field != 'id' and field != 'CreateTime' and field != 'UpdateTime'%}
               <td>{{ object|get_attribute:field }}</td>
               {% endif %} 
               {% endfor %}
            </tr>
            <tr>
               <td>
<p>
  <a class="" data-bs-toggle="collapse" href="#collapseCoverage" role="button" aria-expanded="false" aria-controls="collapseCoverage">
    Coverages
  </a>
</p>
<div class="collapse" id="collapseCoverage">
  <div class="card card-body">
                        <table class="table table-responsive table-borderd">
                           <thead class="table-something">
                              <tr>
                                 <th>Coverage</th>
                                 <th>Option</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for coverage in object.coverages.all %}
                              <tr>
                                 <td>{{ coverage.CoverageName }}</td>
                                 <td>{{ coverage.OptionValue }}</td>
                                 {% empty %}
                                 <td>No coverages selected</td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
               <p>
  <a class="" data-bs-toggle="collapse" href="#collapseDiscount" role="button" aria-expanded="false" aria-controls="collapseDiscount">
    Discounts
  </a>
</p>
<div class="collapse" id="collapseDiscount">
  <div class="card card-body">
                  <table class="table table-responsive table-borderd">
                     <thead class="table-something">
                        <tr>
                           <th>Discounts</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for discount in object.discounts.all %}
                        <tr>
                           <td>{{ discount.DiscountName }}</td>
                           {% empty %}
                           <td>No discounts selected</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                          </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                            <p>
  <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Surcharges
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
                  <table class="table table-responsive table-borderd">
                     <thead class="table-something">
                        <tr>
                           <th>Surcharges</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for surcharge in object.surcharges.all %}
                        <tr>
                           <td>{{ surcharge.SurchargeName }}</td>
                           {% empty %}
                           <td>No surcharges selected</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                          </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td>Update this Product?</td>
               <td>
                  <a href="{% url 'updateproduct' product_id=object.pk %}"
                     ><i class="fa fa-edit"></i
                     ></a>
               </td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm">
         {% if objects.has_previous %}
         <li class="page-item"><a class="page-link" href="{% url_with_query request.get_full_path page=objects.previous_page_number %}">Previous</a></li>
         {% endif %}
         {% for num in objects.paginator.page_range %}
         {% if objects.number == num %}
         <li class="page-item active"><a class="page-link" href="{% url_with_query request.get_full_path page=num %}">{{ num }}</a></li>
         {% else %}
         <li class="page-item"><a class="page-link" href="{% url_with_query request.get_full_path page=num %}">{{ num }}</a></li>
         {% endif %}
         {% endfor %}
         {% if objects.has_next %}
         <li class="page-item"><a class="page-link" href="{% url_with_query request.get_full_path page=objects.next_page_number %}">Next</a></li>
         {% endif %}
      </ul>
   </nav>
</div>

{% endif %} {% endblock %} {% block js%} {% endblock js%}