{% extends 'body.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ verboseNamePlural_value|capfirst }}{% endblock %} 
{% load crispy_forms_tags%} 
{% block sidebarcontent %} 
{% include 'productconfigurator/sidebar.html' %} 
{%endblock %} 

{% block maincontent%} 
{% if request.user.is_authenticated %}

<div class="">
  <div class="row">
    <form
      method="get"
      action="{% url 'viewproduct'  %}"
      class="p-3"
    >
      <input type="text" name="search" value="{{ search_query }}" />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
  </div>

  <div class="table-outer-div">
    <table class="table table-bordered table-responsive-sm custom-table">
      <thead>
        <tr> 
          {% for field in model_fields %} {% if field != 'id' and field != 'CreateTime' and field != 'UpdateTime'%}
          <th>{{ field }}
          {% endif %} {% endfor %}
          <th>Coverages</th> 
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
        <tr>       
          {% for field in model_fields %} {% if field != 'id' and field != 'CreateTime' and field != 'UpdateTime'%}
          <td>{{ object|get_attribute:field }}</td>
          {% endif %} 
          {% endfor %}
          <td>
          <table class="table table-bordered table-responsive-sm custom-table">
          <thead>
              <tr> 
              <th>Coverage</th>
               <th>Option</th>
              </tr>
              </thead>
              <tbody>
              
                {% for coverage in object.coverages.all %}
                <tr>
                  <td>{{ coverage.CoverageName }}</td>
                   <td>{{ coverage.OptionValue }}</td>
                {% empty %}
                  <td>No coverages selected</td>
                  </tr>
                {% endfor %}
                 </tbody>
                 </table>
          </td>

          <td>
          <table class="table table-bordered table-responsive-sm custom-table">
          <thead>
              <tr> 
              <th>Discounts</th>
               <th>Description</th>
              </tr>
              </thead>
              <tbody>
              
                {% for discount in object.discounts.all %}
                <tr>
                  <td>{{ discount.DiscountName }}</td>
                   <td>{{ discount.DiscountDesc }}</td>
                {% empty %}
                  <td>No discounts selected</td>
                  </tr>
                {% endfor %}
                 </tbody>
                 </table>
          </td>


          <td>
          <table class="table table-bordered table-responsive-sm custom-table">
          <thead>
              <tr> 
              <th>Surcharges</th>
               <th>Description</th>
              </tr>
              </thead>
              <tbody>
              
                {% for surcharge in object.surcharges.all %}
                <tr>
                  <td>{{ surcharge.SurchargeName }}</td>
                   <td>{{ surcharge.SurchargeDesc }}</td>
                {% empty %}
                  <td>No surcharges selected</td>
                  </tr>
                {% endfor %}
                 </tbody>
                 </table>
          </td>


        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %} {% endblock %} {% block js%} {% endblock js%}
