{% extends 'base.html'%}

{% load static %}

{% block title %}
    User data
{% endblock title %}



{% block content %}
        <form method="post" action ="#" class=""uniForm>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{policyForm|crispy}}
        </form><br>
        <form method="post" action ="#" class=""uniForm>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{driverForm|crispy}}
        </form><br>
        <form method="post" action ="#" class=""uniForm>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{vehicleForm|crispy}}
        </form><br>
        <form method="post" action ="#" class=""uniForm>
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{incidentForm|crispy}}
        </form><br>

{% endblock content %}
