{% extends 'body.html' %} {% load static %} {% block title %}Add {{ modelName }}{% endblock %} {% load crispy_forms_tags %}
{% block sidebarcontent %} 
    {% include 'systemtables/sidebar.html' %}
{% endblock  %}

{% block maincontent %} {% if request.user.is_authenticated %}
<div class="container">
    
<form method="post">
    {% csrf_token %}
      <table class="table table-responsive table-bordered">
      {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
      </tr>
      {% endfor %}
    </table>


    <button class="btn btn-secondary" type="submit">Save</button>
</form>
</div>
{% endif %} {% endblock %} {% block js %} {% endblock js %}
