{% extends 'body.html' %} {% load static %} {% load product_tags %} 
{% block title %} {{ verboseNamePlural_value|capfirst }}{% endblock %} 
{% load crispy_forms_tags%} 
{% block sidebarcontent %} 
{% include 'systemtables/sidebar.html' %} 
{%endblock %} 

{% block maincontent%} 
{% if request.user.is_authenticated %}

<div class="">
  <div class="row">
    <div class="col mx-2">
      <a class="" href="{% url 'addObject' appLabel modelName %}"><b>Add</b></a>
    </div>
    <div class="col mx-2">
      <a class="" href="{% url 'exportCsv' appLabel modelName %}"
        ><b>Export as CSV</b></a
      >
    </div>
    <div class="col ml-3">
      <a class="" href="{% url 'importCsv' appLabel modelName %}"
        ><b>Import from CSV</b></a
      >
    </div>

    <form
      method="get"
      action="{% url 'datatable' appLabel modelName %}"
      class="p-3"
    >
      <input type="text" name="search" value="{{ search_query }}" />
      <button class="btn btn-secondary" type="submit">Search</button>
    </form>
  </div>

  <div class="table-outer-div">
    <table class="table table-bordered table-responsive-sm custom-table">
      <thead>
        <tr>
          <th>
            Clone
            
          </th>
          <th>Edit</th>
          <th>Delete</th>
          {% for field in model_fields %} {% if field != 'id' %}
          <th>{{ field }}
          {% endif %} {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
        <tr>
          <td>
            <a href="{% url 'cloneObject' appLabel modelName object.pk %}"
              ><i class="fa fa-clone"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'editObject' appLabel modelName object.pk %}"
              ><i class="fa fa-edit"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'deleteObject' appLabel modelName object.pk %}"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
          {% for field in model_fields %} {% if field != 'id' %}
          <td>{{ object|get_attribute:field }}</td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %} {% endblock %} {% block js%} {% endblock js%}
