{% extends 'body.html' %} {% load static %} {% load has_permission custom_tags %} 
{% block title %} {{ verboseNamePlural_value|capfirst }}{% endblock %} 
{% load crispy_forms_tags%} 
{% block sidebarcontent %} 
{% include 'datatable/sidebar.html' %} 
{%endblock %} 

{% block maincontent%} 
{% if request.user.is_authenticated %}

<div class="">
  <div class="row">
    <div class="col mx-2">

{% with curr_permission=appLabel|add:"."|add:"add_"|add:modelName|lower %}
  {% if perms|has_permission:curr_permission %}
                <a class="" href="{% url 'addObject' appLabel modelName %}"><b>Add</b></a>
            </div>
            <div class="col mx-2">
                <a class="" href="{% url 'exportCsv' appLabel modelName %}"><b>Export as CSV</b></a>
            </div>
            <div class="col ml-3">
                <a class="" href="{% url 'importCsv' appLabel modelName %}"><b>Import from CSV</b></a>
            </div>
            {% endif %}
    {% endwith %}

    <form
      method="get"
      action="{% url 'datatable' appLabel modelName %}"
      class="p-3"
    >
    <div class=input-group >
      <input type="text" name="search" value="{{ search_query }}" />
      <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
    </div>
    </form>
  </div>

  <div class="table-outer-div">
    <table class="table table-responsive table-bordered" >
      <thead class="table-something"> 
        <tr>
        {% with curr_permission=appLabel|add:"."|add:"add_"|add:modelName|lower %}
  {% if perms|has_permission:curr_permission %}
          <th>
            Clone  
          </th>
          <th>Edit</th>
          <th>Delete</th>
              {% endif %}
   {% endwith %}
          {% for field in model_fields %} {% if field != 'id' %}
          <th>{{ field }}
          {% endif %} {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for object in objects %}
        <tr>
          {% with curr_permission=appLabel|add:"."|add:"add_"|add:modelName|lower %}
  {% if perms|has_permission:curr_permission %}
          <td>
            <a href="{% url 'cloneObject' appLabel modelName object.pk %}"
              ><i class="fa fa-clone"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'editObject' appLabel modelName object.pk %}"
              ><i class="fa fa-edit"></i
            ></a>
          </td>
          <td>
            <a href="{% url 'deleteObject' appLabel modelName object.pk %}"
              ><i class="fa fa-trash"></i
            ></a>
          </td>
              {% endif %}
   {% endwith %}
          {% for field in model_fields %} {% if field != 'id' %}
          <td>{{ object|get_attribute:field }}</td>
          {% endif %} {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm">
          {% if objects.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ objects.previous_page_number }}">Previous</a></li>
          {% endif %}

          {% for num in objects.paginator.page_range %}
              {% if objects.number == num %}
                  <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
              {% endif %}
          {% endfor %}

          {% if objects.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}">Next</a></li>
          {% endif %}
      </ul>
    </nav>
</div>

{% endif %} {% endblock %} {% block js%} {% endblock js%}
