{% load static %}

    <nav class="navbar navbar-expand-lg p-3 header">

        <a class="navbar-brand" href="http://127.0.0.1:8000/">
          <img
            src="{% static 'images/logo.png' %}"
            ,class="img"
            width="160"
            height="60"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <!-- {% if perms.systemtables %}-->
            <li class="nav-item dropdown  {% if 'productconfigurator' in request.path%}active {% endif%} mx-3">
              <a
                class="nav-link"
                href="/productconfigurator"
         
              >
                Product Configurator
              </a>
            </li>
   <!--{% endif %} -->
            
            
     <!-- {% if perms.ratemanager %}-->

            <li class="nav-item dropdown  {% if 'ratemanager' in request.path%}active {% endif%} mx-3">
              <a
                class="nav-link"
                href="/ratemanager"
              >
                Rate Manager
              </a>
            </li>   
    <!--{% endif %} -->

    <!--  {% if perms.rulesmanager %}-->
            <li class="nav-item dropdown  {% if 'rulesmanager' in request.path%}active {% endif%} mx-3">
              <a
                class="nav-link"
                href="/rulesmanager"
              >
                Rules Manager
              </a>
            </li>   
<!--{% endif %} -->

    <!-- {% if perms.systemtables %} -->
          <li class="nav-item dropdown  {% if 'systemtables' in request.path%}active {% endif%} mx-3">
              <a
                class="nav-link"
                href="/systemtables"
         
              >
                System Tables
              </a>
            </li>
 <!-- {% endif %} -->
          </ul>
        <form class="login-form-inline">
          {% if request.user.is_authenticated %} 
        
            Welcome, {{ request.user.username }} | 
              {% if request.user.is_superuser %}
                  <a class="nav-link px-2" href="/admin">Admin</a>
              {% endif %}
            
                <!--   {% with group_count=request.user.groups.all|length %}
                {% if group_count > 1 %} -->
                  <a class="nav-link px-2" href="/switchrole">Switch Role</a>
            <!--    {% endif %}
              {% endwith %} -->
               | <a class="nav-link px-2" href="/logout">Logout</a>
      
          {% else %}
              <a class="nav-link px-2" href="/login">Login</a>
          {% endif %}
      </form>
    </nav>
    