{% extends 'ratemanager/rates/ratesBase.html' %}
{% block tabContent %}
<div class="container">
    <h5>Create new ratebook.</h5>
    <br>
    <div class="form-group">
        <form action="{{ request.path }}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-sm table-responsive align-middle">
            {{ ratesUploadForm.as_table }}
            {{ ratesReviewForm.as_table }}
            </table>
            <input style="display: block; margin : 0 auto;" 
            class="btn btn-primary btn-sm" 
            type="submit" value="Upload">
        </form>
    </div>
</div>
{% endblock %}