{% extends 'body.html' %} {% load static %}
{% block title %} Create Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 

<h1>Create new ratebook.</h1>

<div>
  {% if request.user.is_authenticated %}
    {% if not file_uploaded %}
    <div>
      <form
        class="form-control"
        method="post"
        enctype="multipart/form-data"
        action="/ratemanager/uploadRB/"
        id="uploadform"
      >
          {% csrf_token%}
          {{ form.RatebookCreationType.label }} :&emsp; {{ form.RatebookCreationType }}
          <br><br>
        <div id="RatebookUpdateType">
          {{ form.RatebookUpdateType.label }} :&emsp; {{ form.RatebookUpdateType }}
        </div>
        <br>
        <div class="mb-3">
          <label for="uploadform"> Select and upload the Excel file: </label>
          <input
            type="file"
            name="file"
            class="form-control-file"
            accept=".xlsx"
            required
          />
          <input
            type="submit"
            name="submit"
            value="Upload & Validate"
            class="btn btn-primary mb-3"
            action="/ratemanager/uploadRB/"
          />
        </div>
      </form>
    </div>
    {% endif %}

    {% if file_uploaded %}
    <div>
      {% include "ratemanager/ratebookmanager/uploadmessage.html" %}
    </div>
    {% endif %}

  {% endif %}
</div>
<script>
    function check_field_value() {
        if($(this).val() != 'update') {  
            $('#RatebookUpdateType').hide();
        } else {
            $('#RatebookUpdateType').show();
        }
    }
    $(document).ready(function() {
        $('#RatebookCreationType').change(check_field_value);
        check_field_value.call($('#RatebookCreationType').get(0));
    });
</script>
{% endblock %}
