{% extends 'body.html' %} {% load static %}
{% block title %} Update Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 

<h1>Update ratebook.</h1>

<div>
  {% if request.user.is_authenticated %}
    {% if not file_uploaded %}
    <div>
      <form
        class="form-control"
        method="post"
        enctype="multipart/form-data"
        action="/ratemanager/loadUpdatedRB/"
        id="uploadform"
      >
          {% csrf_token%}
        <div class="text-left">
          {{ form.as_p }}
          <label for="uploadform"> Select and upload the Excel file: </label>
          <input
            type="file"
            name="file"
            class="form-control-file"
            accept=".xlsx"
            required
          />
        </div>
          <br>
          <div class="row justify-content-around">
          <button
          type="button"
          name="back"
          class="btn btn-secondary col-md-3"
          onclick="if (history.length > 1) { history.back(); } else { window.location.href = '/'; }"
          >Back</button>

          <input
            type="submit"
            name="submit"
            value="Upload & Validate"
            class="btn btn-primary col-md-3"
          />
        </div>
      </form>
    </div>
    {% endif %}

    {% if file_uploaded %}
    <div>
      {% include "ratemanager/ratebookmanager/UpdateUploadMessage.html" %}
    </div>
    {% endif %}

  {% endif %}
</div>
{% endblock %}
