{% block title %} {{title}}
{%endblock %} {% load crispy_forms_tags %} {% block content %}
<div>
  {% if rbChangesTable is not None %}
  <h2> These are the changes in the new version </h2>
  {{ rbChangesTable | safe }}
  {% endif %}
  <b>Messages: <br>
    {% for i in msgs %}
    &emsp; - {{ i }}<br>
    {% endfor %}
  </b><br>
</div>
<script>
  $(document).ready(function () {
    $('#T_changes').DataTable({
      paging: false,
      searching: false,
      info: false,
      ordering: false,
    });
});
$('#T_changes').addClass("table table-sm display compact cell-border");
</script>
{% endblock %}