{% extends 'body.html' %} {% load static %}
{% block title %} View Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %} 
{% block maincontent %}
<form class=form-control method="post" action="/ratemanager/viewExhibits/{{ rbID }}/">
    {% csrf_token %}
    {{ exhibitForm.as_table }}
</form>
<div class="container table-responsive">          
    <table class="table table-condensed table-borderd">
      <thead>
        <tr>
          {% for field in fields %}
          <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% if filteredExhibits %}  
      {% for obj in filteredExhibits %}
        <tr>
          {% for field_val in obj %}
          <td>{{ field_val }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
{%endblock%}
