{% extends 'body.html' %} {% load static %}
{% block title %} View Ratebook {% endblock %}
{% block sidebarcontent %} 
  {% include 'ratemanager/sidebar.html' %} 
{% endblock  %}
{% load crispy_forms_tags %}
{% block maincontent %} 

<h2 class="text-center"><u><b>View Ratebook</b></u></h2>
<form method="post" action="/ratemanager/viewRBbyVersion/">
  {% csrf_token %}
  <table class="table table-sm">
    {% for field in viewForm %}
      {%if forloop.counter|divisibleby:"2" %}
        <td>
          {{field.label}}:&emsp;{{field}}
        </td>
      </tr>
      {%else%}
      <tr>
        <td>
          {{field.label}}:&emsp;{{field}}
        </td>
      {%endif%}
    {%endfor%}
  </table>

  <div class="text-center">
    <input type="submit" class="btn btn-primary" value="Apply Filters" />
  </div>
</form>

<form action="/ratemanager/compareRB">
<b>Select any two Ratebooks to Compare or click on the row to view it.</b>        
<div class="text-left">
  <input id="compare_button" type="submit" class="btn btn-primary" value="Compare" disabled="true"/>
</div>
<br>
<nav aria-label="Page navigation">
  <ul class="pagination pagination-sm">
     {% if page_obj.has_previous %}
     <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
     {% endif %}
     {% for num in page_obj.paginator.page_range %}
     {% if page_obj.number == num %}
     <li class="page-item active"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
     {% else %}
     <li class="page-item"><a class="page-link" href="?page={{num}}">{{ num }}</a></li>
     {% endif %}
     {% endfor %}
     {% if page_obj.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
     {% endif %}
  </ul>
</nav>
<div class="container table-responsive">          
  <table id="example" class="table table-sm table-condensed cell-border table-hover">
    <thead>
      <tr>
        <th class="no-sort" onclick="event.stopPropagation();">Select</th>
        <th>Ratebook Name</th>
        <th>Ratebook ID</th>
        <th>Ratebook Version</th>
        <th>New Business Effective Date</th>
        <th>Renewal Effective Date</th>
        <th>Migration Date</th>
        <th>Migration Time</th>
        <th>Activation Date</th>
        <th>Activation Time</th>
        <th>RatebookRevisionType</th>
        <th>RatebookStatusType</th>
        <th>RatebookChangeType</th>
        <th>Carrier</th>
        <th>State</th>
        <th>Line of Business</th>
        <th>UW Company</th>
        <th>Policy Type</th>
        <th>Policy SubType</th>
        <th>Product Code</th>
      </tr>
    </thead>
    <tbody>
    {% if filteredRatebooks %}
    {% for obj in filteredRatebooks %}
      <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/ratemanager/viewRBbyVersionExhibits/{{ obj.RatebookID }}/{{ obj.RatebookVersion }}';">
        <td onclick="event.stopPropagation();">
          <input type="checkbox" name="selectedRBs" value="{{ obj.RatebookID }}_{{obj.RatebookVersion}}">
        </td>
        <td>{{obj.RatebookName}}</td>
        <td>{{obj.RatebookID}}</td>
        <td>{{obj.RatebookVersion}}</td>
        <td>{{obj.NewBusinessEffectiveDate}}</td>
        <td>{{obj.RenewalEffectiveDate}}</td>
        <td>{{obj.MigrationDate}}</td>
        <td>{{obj.MigrationTime}}</td>
        <td>{{obj.ActivationDate}}</td>
        <td>{{obj.ActivationTime}}</td>
        <td>{{obj.RatebookRevisionType}}</td>
        <td>{{obj.RatebookStatusType}}</td>
        <td>{{obj.RatebookChangeType}}</td>
        <td>{{obj.Carrier}}</td>
        <td>{{obj.State}}</td>
        <td>{{obj.LineofBusiness}}</td>
        <td>{{obj.UWCompany}}</td>
        <td>{{obj.PolicyType}}</td>
        <td>{{obj.PolicySubType}}</td>
        <td>{{obj.ProductCode}}</td>
      </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
</form>
<script>
$(document).ready(function () {
  $('#example').DataTable({
    paging: false,
    searching: false,
    info: false,
    order: [[9, 'desc']],
    'columnDefs': [ {
              'targets': [0],
              'orderable': false,
        }]
  });
});
$('input[type=checkbox]').on('change', function (e) {
    if ($('input[type=checkbox]:checked').length > 2)
    {
      $(this).prop('checked', false);
      alert("Max allowed selections is 2");
    }
    else if ($('input[type=checkbox]:checked').length == 2)
    {
      $("#compare_button").prop("disabled", false);
    }
    else
    {
      $("#compare_button").prop("disabled", true);
    }
});
</script>

{% endblock %}
