{% extends 'body.html' %} {% load static %} {% block title %}Add {{ modelName }}{% endblock %} {% load crispy_forms_tags %}
{% block sidebarcontent %} 
    {% include 'rulesmanager/sidebar.html' %}
{% endblock  %}

{% block maincontent %} {% if request.user.is_authenticated %}
<div class="container">
    

    <h1>Create Rule</h1>


    <form method="POST" action="{% url 'createrule' %}">
  {% csrf_token %}
  {{ ruleset_form.as_p }}

  {{ rulegroup_formset.management_form }}
  {% for form in rulegroup_formset %}
    {{ form.as_table }}
  {% endfor %}

  {{ action_formset.management_form }}
  {% for form in action_formset %}
    {{ form.as_table }}
  {% endfor %}

  <button type="submit">Create RuleSet</button>
</form>
</div>
{%else%}
Please Login to access this 
{% endif %} {% endblock %} {% block js %} {% endblock js %}
